header {
    display: block;
    color: white;
    background: gray;
    text-transform: uppercase;
    box-shadow: 0 0 2rem gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
footer{
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 2rem gray;
}
img {
    object-fit: cover;
    width: 286px;
    height: 100%;
}
.eachimage {
    display: inline-block;
    padding: 1%;
}
.gallery{
    margin-top: 89px;
    margin-bottom: 50px;
}